*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 70%;
    background-color:aliceblue ;
    border-radius: 15px;
    border: solid 3px black;
    padding: 15px;
    margin: 0 auto;
}
h1{
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: black;
    
}
img{
    margin: 0 0 20px 0;
}

p {
    line-height: 25px;
    font-weight: 800;
    font-size: 18px;
}
.text{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 70px;
    background-color: yellow;
    border-radius: 15px;
    border: solid 3px black;

}
