.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.gallery img{
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(1, 116, 101);
    transition: transform 0.3s;
}
.gallery img:hover{
    transform: scale(1.05) rotate(3deg);
}