
body{
    font-family: Arial, Helvetica, sans-serif;

}



h1{
    
    font-size: 67px;
    font-weight: bold;
    
}
p{
    font-size: 24px;
    margin-bottom: 50px;
    background-color: beige;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

a{
    font-size: 24px;
    color: blueviolet;
}

img{
    height: 250px;
    max-width: 1000px;
}